p {
    font-size: 20px;
}

nav a {
    padding: 10px;
}

th, td {
    padding:10px;
}

nav {

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color:black;
    padding: 5px;
    font-size: 30px;
}

a:visited {
    color: inherit;
}

tr {
    text-align: left;
}

th {
    text-align: left;
}

td {
    text-align: left;
}

.bg {
    background-image: url('../static/images/background2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vh;
    height: 100vh;

}