{% extends "base.html" %}
{% block content %}
<h1>Available Books</h1>
<span style="margin-right: 10px;"><a href="{{ url_for('books') }}">All</a></span>
<span style="margin-right: 10px;"><a href="{{ url_for('available') }}">Available</a></span>
<span><a href="{{ url_for('rented') }}">Rented</a></span>
<table>
<tr>
    <th style="text-align: left;">ID</th>
    <th style="text-align: left;">Title</th>
    <th style="text-align: left;">Category</th>
    
</tr>
{% for book in books %}
<tr>
    <td><a href="{{ url_for('book', id=book.id) }}">{{ book.id }}</a></td>
    <td><a href="{{ url_for('book', id=book.id) }}">{{ book.title }}</a></td>
    <td><a href="{{ url_for('category_detail', name=book.category.name) }}">{{ book.category.name }}</a></td>
</tr>
{% endfor %}

</table>
{% endblock %}