{% extends "base.html" %}
{% block content %}
<h1>All Books</h1>
<span style="margin-right: 10px;"><a href="{{ url_for('books') }}">All</a></span>
<span style="margin-right: 10px;"><a href="{{ url_for('available') }}">Available</a></span>
<span><a href="{{ url_for('rented') }}">Rented</a></span>
<table>
<tr>
    <th style="text-align: left;">Title</th>
    <th style="text-align: left;">Category</th>
</tr>
{% for book in results %}
<tr>
    <td><a href="{{ url_for('book', id=book.id) }}">{{ book.title }}</td></a>
    <td> <a href="{{ url_for('category_detail', name=book.category.name) }}">{{ book.category.name }}</td></a>
</tr>
{% endfor %}
</table>
{% endblock %}