{% extends "base.html" %}
{% block content %}
<h1>{{ heading }}</h1>
<table>
<tr>
    <th style="text-align: left;">ID</th>
    <th style="text-align: left;">Title</th>
</tr>
{% for book in results %}
<tr>
    <td><a href="{{ url_for('book', id=book.id) }}">{{ book.id }}</td></a>
    <td><a href="{{ url_for('book', id=book.id) }}">{{ book.title }}</td></a>
</tr>
<!-- <p>
    <span><a href="{{ url_for('book', id=book.id) }}">{{ book.title }}</a></span>
</p> -->
{% endfor %}
</table>
{% endblock %}

